/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


 canvas {
    margin: auto;
    background: #ececec;
    width: 100%;
  }
  
  .btn-disabled {
    color: #fff !important;
  }

  #canvas {
    position: relative;
    display: block;
    margin: 0 auto; /* Center the canvas horizontally on the page */
  }
  
 /* Simple CSS Spinner */
.spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

/* Centering the loader */
#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Make sure it stays on top of the canvas */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
